body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 9px 14px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  text-align: center;
  vertical-align: middle;

  background-color: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 22px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*Стилизация header*/

.main-header {
  width: 1147px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  margin-bottom: 3px;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  width: 180px;
  height: 64px;
  padding-top: 9px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-left: 10px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 385px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 245px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
    }

.site-navigation,
.user-navigation {
  list-style: none;
}


.site-navigation a {
  color: #ffffff;

  border-radius: 14px;
}

.navigation-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.user-navigation a {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.search-link:hover,
.search-link:focus,
.login-link:hover,
.login-link:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #323232;

  background-color: #ededed;
}

.site-navigation a,
.user-navigation a {
  display: block;
}

.site-navigation a {
  padding: 6px 14px;
}

.search .search-link {
  padding: 6px;

  border-radius: 50%;
}

.search {
  position: relative;

  width: 31px;
  height: 31px;
  padding-bottom: 7px;
}

.login-link,
.cart-link {
  position: relative;
}

.login-link svg,
.cart-link svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.login-link,
.cart-link {
  padding: 8px 16px 8px 44px;
}

.search-link:hover path,
.search-link:focus path,
.login-link:hover polygon,
.login-link:hover path,
.login-link:focus polygon,
.login-link:focus path {
  fill: #323232;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 274px;
}

.header-time,
.header-phone {
  margin: 0;
  padding: 0;
}

.header-time {
  margin-bottom: 5px;
  padding-left: 18px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  }

  /*Стилизация всплывающих окон*/

.catalog-link {
  position: relative;
  padding-bottom: 7px;
}

.catalog-navigation {
  position: absolute;
  top: 36px;
  left: -5px;
  z-index: 3;

  display: none;
  width: 144px;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.catalog-navigation p {
  margin: 0;
  padding-top: 12px;
  padding-left: 21px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;

  border-bottom: 1px solid #d1d0ce;
}

.catalog-link:hover .catalog-navigation {
  display: block;
}

.catalog-navigation a {
  display: block;
  padding-top: 8px;
  padding-left: 21px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  text-decoration: none;
  border-radius: 0;
}

.catalog-navigation li:last-child {
  margin-bottom: 6px;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}
.search-form {
  position: absolute;
  top: 36px;
  right: 0;

  display: none;
  width: 341px;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.search:hover .search-form {
  display: block;
}

.search-form input[type="search"] {
  width: 310px;
  margin: 20px 15px;
  padding: 10px 14px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.search-form input:hover {
  padding: 9px 13px;

  border: 2px solid #c7c6c5;
}

.search-form input:focus {
  padding: 9px 13px;

  border: 2px solid #8fbdec;
  outline: none;
}

.login {
  position: relative;
  padding-bottom: 7px;
}

.login-form {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  display: none;
  width: 278px;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.login-form p {
  margin: 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 239px;
  margin-top: 20px;
  margin-right: 17px;
  margin-left: 19px;
  padding: 9px 15px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  box-sizing: border-box;
}

.login-form input:hover {
  padding: 8px 14px;

  border: 2px solid #c7c6c5;
}

.login-form input:focus {
  padding: 8px 14px;

  border: 2px solid #8fbdec;
  outline: none;
}

.button-links-wrapper {
  display: flex;
}

.login-form .button {
  margin: 20px;
  padding: 11px 25px;

  border-radius: 22px;
}

.login-info {
  padding-top: 17px;
}

.login-info a {
  display: block;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  color: #323232;

  background-color: transparent;
  text-decoration: underline;
}

.login-info a:hover,
.login-info a:focus {
  color: #ffbc9e;
}

.login:hover .login-form {
  display: block;
}

/*Стилизация main*/

.container {
  width: 1147px;
  margin: 0 auto;
  padding: 0 27px;
}

/*Стилизация слайдера*/

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: center top;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.slider {
  position: relative;

  margin-bottom: 41px;
  padding: 0 27px;

  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slide-button {
  padding: 10px 42px;

  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 35px;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
  background-color: rgba(248, 247, 244, 0.4);
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*Окончание стилизации слайдера*/

.promotions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo-raspberries,
.promo-сhocolate {
  display: flex;
  flex-direction: column;
  width: 520px;
  padding: 16px 20px 24px 20px;

  border-radius: 13px;
}

.promo-raspberries {
  background-color: #ce0431;
  background-image: url("../img/raspberries.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-сhocolate {
  background-color: #7a4f37;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-info {
  margin: 0;
  margin-bottom: 44px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promo-button {
  align-self: flex-end;

  padding: 11px 22px;

  border-radius: 22px;
}

.hits-item::before {
  content: "";
  position: absolute;
  z-index: 3;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
}

.features {
  margin-bottom: 40px;
  padding: 27px 20px;

  background-image: url("../img/wafer.jpg");
  background-color: #eadbbc;
  border-radius: 15px;
}

.feature-info {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  position: relative;

  width: 540px;

  color: #323232;
}

.feature-list p {
  margin: 0;
  padding-top: 22px;
  padding-left: 58px;
}

.feature-item::before {
  content: "";

  position: absolute;
  top: 8px;
  width: 50px;
  height: 50px;
}

.feature-list .first::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list .second::before {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list .third::before {
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list .fourth::before {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.useful-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.article,
.subscription {
  border-radius: 15px;
}

.article {
  width: 560px;
  min-height: 220px;

  background-image: url("../img/strawberry.jpg");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.article h2 {
  margin-top: 23px;
  margin-bottom: 4px;
  margin-left: 20px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.article-info {
  width: 290px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.article-info a  {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  text-decoration: underline;
  }

.article-info a:hover,
.article-info a:focus,
.article-info a:active {
  color: #e84d37;
}

.subscription {
  width: 508px;
  padding: 28px 22px;

  background-color: #f8f7f4;
  border: 5px solid #fe9e90;
  border-image: url("../img/subscription-bg.svg") 5 round;
}

.subscription-info {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  color: #5a5a5a;
}

.subscription-form {
  margin: 0;
}

.subscription-form input[type="text"] {
  width: 338px;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.subscription-form input:hover {
  padding: 9px 13px;

  border: 2px solid #c7c6c5;
}

.subscription-form input:focus {
  padding: 9px 13px;

  border: 2px solid #8fbdec;
  outline: none;
}

.subscription-form .button {
  margin-left: 8px;
  padding: 9px 18px;

  border-radius: 28px;
}

.map {
  position: relative;

  width: 1200px;
  height: 431px;
  margin: 0 -27px;
}

.map iframe {
  position: absolute;
}

.map-image {
  margin: 0;
}

.map-info {
  position: absolute;
  top: 63px;
  right: 27px;

  width: 252px;
  padding: 29px 25px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 13px;
}

.map-info span {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map-info-adress {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.map-info-phone {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.map-info-adress span {
  margin-top: 2px;
}

.map-info-phone span {
  margin-top: 5px;
  margin-bottom: 2px;
}

.map-button {
  padding: 8px 27px;
}

.map::before {
  content: "";

  position: absolute;
  top: 137px;
  left: 266px;

  width: 80px;
  height: 140px;

  background-image: url("../img/pin.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Стилизация footer*/

.main-footer {
  width: 1147px;
  margin: 0 auto;
  padding: 0 27px;

  font-size: 13px;
  line-height: 18px;
}

.main-footer a {
  color: #ffffff;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 29px;
}

.social-footer {
  margin-right: 215px;
}

.social-list,
.info-list {
  list-style: none;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 185px;
  margin: 0;
  padding: 0;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;

  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button path {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover path,
.social-button:focus path {
  opacity: 1;
}

.social-button:active path {
  fill: #e9e9e9;
}

 .info-footer {
   display: flex;
   width: 330px;
 }

 .info-footer a {
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 }

 .info-list {
   margin: 0;
   margin-top: -3px;
   padding: 0;
 }

 .info-list li:last-child {
   padding-top: 5px;
 }

 .info-list-left {
   margin-left: 23px;
   margin-right: 31px;
 }

 .info-list-left .first {
   position: relative;
 }

 .info-list-left .first::before {
   content: "";

   position: absolute;
   top: 2px;
   left: -22px;

   width: 15px;
   height: 15px;

   background-image: url("../img/heart.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .info-list a:hover,
 .info-list a:focus,
 .info-list a:active {
   color: #ffbc9e;

   border-bottom: 1px solid rgba(255, 188, 158, 0.2);
 }

 .copyright-footer {
   width: 190px;
   margin-top: -8px;
   margin-left: auto;

   font-size: 12px;
   line-height: 18px;
 }

.copyright-info {
  margin: 0;
  padding: 0;
}

.copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-info a:hover,
.copyright-info a:focus,
.copyright-info a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/*Стилизация модального окна*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  30% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;
  z-index: 4;

  display: none;
  width: 428px;
  margin-left: -239px;
  padding: 25px;
  padding-top: 17px;

  background-color: #f8f7f4;
  border-radius: 9px;
}

.modal-feedback-show {
  display: block;

  animation: bounce 0.5s;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-info {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form .button-close {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 18px;

  background-image: url("../img/x-big.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.feedback-question {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-text {
  margin: 0;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  padding: 9px 14px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.modal-feedback input[type="text"] {
  width: 240px;
}

.feedback-form textarea {
  width: 100%;

  box-sizing: border-box;

  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  padding: 8px 13px;

  border: 2px solid #c7c6c5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  padding: 8px 13px;

  border: 2px solid #8fbdec;
  outline: none;
}

.modal-button {
  align-self: flex-end;
  margin-top: 10px;
  padding: 11px 24px;

  border-radius: 22px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-show {
  display: block;
}

/*Стилизация inner page*/

.inner-page .user-navigation {
  width: 260px;
}

.site-navigation-current,
.current-catalog-navigation {
  background-color: #d07058;
}

.inner-page .current-catalog-navigation {
  color: #ffffff;
}

.user-navigation .cart-link-red {
  position: relative;

  padding: 8px 16px 8px 44px;

  color: #323232;

  background-color: #f7f6f3;
}

.cart-link-red svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.breadcrumps-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.breadcrumps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 0;
  margin-top: 23px;
  padding: 0;

  list-style: none;
}

.breadcrumps a {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumps a:hover,
.breadcrumps a:focus,
.breadcrumps a:active {
  color: #ffbc9e;
}

.breadcrumps-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.page-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  }

.filters {
  margin-bottom: 38px;
}

.filters legend {
  margin-bottom: 6px;
  margin-left: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-line-first,
.filters-line-second {
  display: flex;
  justify-content: space-between;
  width: 858px;
}

.filters-line-first {
  margin-bottom: 15px;
}

.filter-sorting {
  margin: 0;
  padding: 0;
  border: none;
}

.sorting-list-wrapper {
  position: relative;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.sorting-list {
  display: block;
  width: 192px;
  margin: 0;
  padding: 10px 25px 10px 16px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background: transparent;
  border: none;
  border-radius: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.sorting-list::-ms-expand {
    display: none;
}

.sorting-icon {
  position: absolute;
  top: 14px;
  right: 14px;

  pointer-events: none;
}

.sorting-list-wrapper:hover .sorting-list,
.sorting-list-wrapper:focus .sorting-list {
  color: #323232;
}

.sorting-list-wrapper:hover .sorting-icon path,
.sorting-list-wrapper:focus .sorting-icon path {
  fill: #323232;
}

.filter-range {
  width: 218px;

  margin: 0;
  padding: 0;

  border: none;
}

.price-controls {
  position: relative;
}

.max-price {
  padding-left: 13px;
}

.price-controls input {
  width: 55px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  top: 6px;
  right: 62px;

  position: absolute;

  width: 7px;
  height: 2px;

  background-color: #ffffff;
}

.range-controls-wrapper {
  width: 176px;
  padding: 16px 21px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  width: 176px;
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 107px;
  height: 4px;
  margin-left: 17px;

  background-color: #f8f7f4;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.range-toggle-min {
  left: 13px;
}

.range-toggle-max {
  left: 111px;
}

.range-toggle:hover {
  width: 5px;
  height: 5px;

  border: 9px solid #ffffff;
}

.fat-levels-wrapper {
  width: 385px;
  padding: 7px 16px 7px 14px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.fat-levels {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.fat-levels label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-fat {
  margin: 0;
  padding: 0;
  border: none;
}

.fat-radio {
  position: relative;

  padding-left: 31px;

  cursor: pointer;
}

.fat-radio input[type="radio"] + .fat-radio-indicator {
  position: absolute;
  top: -2px;
  left: 0;

  width: 16px;
  height: 16px;

  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.fat-radio input[type="radio"]:checked + .fat-radio-indicator::after {
  content: "";
  top: 4px;
  left: 4px;

  position: absolute;

  width: 8px;
  height: 8px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.fat-radio input[type="radio"] + .fat-radio-indicator:hover {
  border-color: #ffffff;
}

.fat-radio input[type="radio"]:checked + .fat-radio-indicator:hover::after {
  background-color: #ffffff;
}

.fat-radio input[type="radio"]:focus  + .fat-radio-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-fillers {
  margin: 0;
  padding: 0;

  border: none;
}

.fillers-list-wrapper {
  width: 668px;
  padding:8px 19px 8px 16px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filler-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filler-list label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filler-checkbox {
  position: relative;

  padding-left: 32px;

  cursor: pointer;
}

.filler-checkbox input[type="checkbox"] + .filler-checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.8;
}

.filler-checkbox input[type="checkbox"]:checked + .filler-checkbox-indicator {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.8;
}

.filler-checkbox input[type="checkbox"] + .filler-checkbox-indicator:hover {
  opacity: 1;
}

.filler-checkbox input[type="checkbox"]:checked + .filler-checkbox-indicator:hover {
  opacity: 1;
}

.filler-checkbox input[type="checkbox"]:focus + .filler-checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-form-button {
  align-self: flex-end;
  display: inline-block;
  padding: 8px 27px 8px 29px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 18px;

  cursor: pointer;
}

.filters-form-button:hover,
.filters-form-button:focus {
  color: #323232;

  background-color: #ffffff;
}

.filters-form-button:active {
  padding: 8px 26px;

  background-color: #ededed;
  border: none;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.inner-page .catalog-list {
  margin-bottom: 43px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 267px;
  margin: 0;
  margin-right: 26px;
  margin-bottom: 38px;
}

.catalog-list li:nth-child(4n) {
  margin-right: 0;
}

.catalog-list p {
  margin: 0;
}

.catalog-item a {
  z-index: 2;

  display: block;

  color: #ffffff;
  text-align: center;
}

.catalog-item img {

  width: 267px;
  height: 267px;
  margin-bottom: 8px;

  border-radius: 50%;
}

.catalog-item-title {
  margin: 0;
  padding: 0 6px;

  font: inherit;
}

.catalog-item-title span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-item-price {
  position: absolute;
  bottom: 65px;
  z-index: 2;

  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price b {
  font-size: 45px;
  line-height: 45px;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

.catalog-item::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -13px;
  z-index: 1;

  width: 293px;
  height: 405px;

  border-radius: 5px;
}

.catalog-item .button {
  position: absolute;
  bottom: -55px;
  left: 33px;

  display: none;
  padding: 11px 18px;
}

.catalog-item:hover::after,
.catalog-item:focus::after  {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-item a:hover,
.catalog-item a:active {
  color: #ffbc9e;
}

.catalog-item a:hover span,
.catalog-item a:active span {
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item:hover .button,
.catalog-item:focus .button {
  display: block;
  z-index: 3;
}

.catalog-item:hover,
.catalog-item:focus {
  z-index: 3;
}

.catalog-pagination {
  display: flex;
  justify-content: flex-end;

  margin-right: -8px;
  margin-bottom: 31px;
}

.pagination-list {
  position: relative;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-item,
.pagination-previous-page {
  margin-right: 3px;
  padding: 0;
}

.pagination-item a,
.pagination-previous-page a,
.pagination-next-page a {
  display: block;
  padding: 4px 9px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  border-radius: 50%;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-previous-page a:hover,
.pagination-previous-page a:focus,
.pagination-next-page a:hover,
.pagination-next-page a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active,
.pagination-previous-page a:active,
.pagination-next-page a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-previous-page svg {
  transform: rotate(180deg);
  opacity: 0.2;
}

/*Стилизация всплывающего окна корзины*/

.cart {
  position: relative;
}

.cart-info {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;

  display: none;
  width: 510px;
  padding: 20px 15px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.cart:hover .cart-info {
  display: block;
}

.cart-list {
  padding: 0;

  list-style: none;
  border-bottom: 1px solid #cacac7;
}

.cart-list li {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.cart-list li:last-child {
  margin-bottom: 25px;
}

.product-close {
width: 11px;
height: 11px;

background-image: url("../img/x-small.svg");
background-color: transparent;
background-repeat: no-repeat;
border: 0;
}

.cart-list img {
  margin: 0 14px;
}

.product-title {
  width: 216px;
  margin-right: 32px;
}

.product-price {
  margin-right: 25px;

  color: #999999;
}

.product-weight {
  margin-right: 4px;
}

.cart-order {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total-price {
  margin: 15px 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
