body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 11px 15px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  text-align:center;
  vertical-align: middle;

  background-color: #f16542;
  border-radius: 20px;
  border: none;
}

/*Стилизация header*/

.main-header {
  width: 1147px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header {
  margin-bottom: 2px;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  padding-top: 9px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-left: 24px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 385px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 245px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
    }

.site-navigation,
.user-navigation {
  list-style: none;
}


.site-navigation a {
  color: #ffffff;

  border-radius: 14px;
}

.navigation-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.user-navigation a {
  color: #ffffff;

  background-color: #a0b5a9;
  border-radius: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.search-link:hover,
.search-link:focus,
.login-link:hover,
.login-link:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.site-navigation a:active {
  color: #323232;

  background-color: #ededed;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 6px 15px;
}

.user-navigation .search-link {
  padding: 7px;

  border-radius: 50%;
}

.search {
  position: relative;

  width: 33px;
  height: 33px;
}

.search-link:hover path,
.login-link:hover polygon,
.login-link:hover path {
  fill: #323232;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 285px;
}

.header-time,
.header-phone {
  margin: 0;
  padding: 0;
}

.header-time {
  margin-bottom: 6px;
  padding-left: 18px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  }

  /*Стилизация всплывающих окон*/

.catalog-link {
  position: relative;
}

.catalog-navigation {
  position: absolute;
  top: 38px;
  left: -7px;

  display: none;
  width: 144px;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.catalog-navigation p {
  margin: 0;
  padding-top: 12px;
  padding-left: 21px;
  padding-bottom: 14px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #323232;

  border-bottom: 1px solid #d1d0ce;
}

.catalog-link:hover .catalog-navigation {
  display: block;
}

.catalog-navigation a {
  display: block;
  padding-top: 9px;
  padding-left: 20px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  text-decoration: none;
  border-radius: 0;
}

.catalog-navigation .last-item {
  margin-bottom: 6px;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}
.search-form {
  position: absolute;
  top: 40px;
  right: 0;

  display: none;
  width: 341px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.search:hover .search-form {
  display: block;
}

.search-form input[type="search"] {
  width: 310px;
  margin: 20px 15px;
  padding: 10px 14px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.search-form input:hover {
  padding: 10px 13px;

  border: 2px solid #c7c6c5;
}

.search-form input:focus {
  padding: 10px 13px;

  font-weight: 700;
  color: #323232;

  border: 2px solid #8fbdec;
  outline: none;
}

.login {
  position: relative;
}

.login-form {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;

  display: none;
  width: 278px;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.login-form p {
  margin: 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 239px;
  margin-top: 20px;
  margin-right: 17px;
  margin-left: 19px;
  padding: 11px 14px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;

  box-sizing: border-box;
}

.login-form input:hover {
  padding: 10px 13px;

  border: 2px solid #c7c6c5;
}

.login-form input:focus {
  padding: 10px 13px;

  font-weight: 700;
  color: #323232;

  border: 2px solid #8fbdec;
  outline: none;
}

.button-links-wrapper {
  display: flex;
}

.login-form .button {
  margin: 20px;
  padding: 14px 26px;
}

.login-info {
  padding-top: 20px;
}

.login-info a {
  display: block;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  color: #323232;

  background-color: transparent;
  text-decoration: underline;
}

.login-info a:hover,
.login-info a:focus {
  color: #ffbc9e;
}

.login:hover .login-form {
  display: block;
}

/*Стилизация main*/

.container {
  width: 1147px;
  margin: 0 auto;
  padding: 0 27px;
}

.features {
  margin-bottom: 35px;
  padding: 27px 20px;

  background-image: url("../img/wafer.jpg");
  background-color: #eadbbc;
  border-radius: 13px;
}

.feature-info {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;


  list-style: none;
}

.feature-item {
  position: relative;

  width: 540px;
  margin: 0px;
  padding: 0px;

  color: #323232;
}

.feature-list p {
  padding-left: 58px;
}

.feature-item::before {
  content: "";

  position: absolute;
  top: 7px;
  width: 50px;
  height: 50px;
}

.feature-list .first::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list .second::before {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list .third::before {
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-list .fourth::before {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.useful-info {
  display: flex;
  justify-content: space-between;
  min-height: 220px;
  margin-bottom: 40px;
}

.article,
.subscription {
  width: 560px;

  border-radius: 13px;
}

.article {
  background-image: url("../img/strawberry.jpg");
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.article h2 {
  margin-top: 25px;
  margin-bottom: 4px;
  margin-left: 20px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.article-info {
  width: 280px;
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.article-info a  {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;

  text-decoration: underline;
  }

.article-info a:hover,
.article-info a:focus,
.article-info a:active {
  color: #e84d37;
}

.subscription {
  background-color: #f8f7f4;
  border: 5px solid #fe9e90;
  border-image: url("../img/subscription-bg.svg") 5 round;
}

.subscription-info {
  margin: 30px 22px;
  padding: 0;

  color: #5a5a5a;
}

.subscription-form {
  margin: 0 22px;
}

.subscription-form input[type="text"] {
  width: 338px;
  padding: 11px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.subscription-form input:hover {
  padding: 10px 13px;

  border: 2px solid #c7c6c5;
}

.subscription-form input:focus {
  padding: 10px 13px;

  font-weight: 700;
  color: #323232;

  border: 2px solid #8fbdec;
  outline: none;
}

.subscription-form .button {
  margin-left: 11px;
}

/*Стилизация footer*/

.main-footer {
  width: 1147px;
  margin: 0 auto;
  padding: 0 27px;

  font-size: 13px;
  line-height: 18px;
}

.main-footer a {
  color: #ffffff;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 29px;
}

.social-footer {
  width: 267px;
}

 .social-list,
 .info-list {
   list-style: none;
 }

 .social-list {
   display: flex;
   justify-content: space-between;
   width: 185px;
   margin: 0;
   padding: 0;
 }

 .social-button {
   display: block;
   width: 32px;
   height: 32px;

   border: 3px solid rgba(255, 255, 255, 0.5);
   border-radius: 50%;
}

.social-button path {
  opacity: 0.8;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:hover path,
.social-button:focus path {
  opacity: 1;
}

.social-button:active path {
  fill: #e9e9e9;
}

 .info-footer {
   display: flex;
   width: 560px;
   padding-left: 100px;
 }

 .info-footer a {
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 }

 .info-list {
   margin: 0;
   padding: 0;
 }

 .left {
   margin-left: 23px;
   margin-right: 32px;
 }

 .left .first {
   position: relative;
 }

 .left .first::before {
   content: "";

   position: absolute;
   left: -22px;

   width: 15px;
   height: 15px;

   background-image: url("../img/heart.svg");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .info-list a:hover,
 .info-list a:focus,
 .info-list a:active {
   color: #ffbc9e;

   border-bottom: 1px solid rgba(255, 188, 158, 0.2);
 }

 .copyright-footer {
   width: 267px;
   padding-left: 75px;
 }

.copyright-info {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.copyright-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.copyright-info a:hover,
.copyright-info a:focus,
.copyright-info a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/*Стилизация модального окна*/

.modal-feedback {
  position: relative;

  display: none;
  width: 477px;
  padding: 25px;
  padding-top: 19px;

  background-color: #f8f7f4;
  border-radius: 9px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-info {
  margin: 0;
  margin-bottom: 23px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form .button-close {
  position: absolute;
  top: 15px;
  right: 16px;

  width: 18px;
  height: 18px;

  background-image: url("../img/x-big.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.feedback-question {
  margin: 0;
  margin-bottom: 20px;
}

.feedback-text {
  margin: 0;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  padding: 11px 14px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
}

.modal-feedback input[type="text"] {
  width: 265px;
}

.feedback-form textarea {
  width: 100%;
  box-sizing: border-box;

  resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  padding: 10px 13px;

  border: 2px solid #c7c6c5;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  padding: 10px 13px;

  font-weight: 700;
  color: #323232;

  border: 2px solid #8fbdec;
  outline: none;
}

.feedback-form .button {
  align-self: flex-end;
  margin-top: 25px;
  padding: 11px 24px;
}

/*Стилизация inner page*/

.inner-page .user-navigation {
  width: 260px;
}

.site-navigation-current a {
  background-color: #d07058;
}

.user-navigation .cart-link-red {
    color: #323232;

    background-color: #f7f6f3;
}

.breadcrumps-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.breadcrumps {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  margin-bottom: 10px;

  list-style: none;
}

.breadcrumps a {
  display: block;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumps a:hover,
.breadcrumps a:focus,
.breadcrumps a:active {
  color: #ffbc9e;
}

.breadcrumps-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.page-title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  }

.catalog {
  margin-bottom: 55px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 267px;
  margin: 0;
  margin-bottom: 40px;
}

.catalog-list p {
  margin: 0;
}

.catalog-item a {
  z-index: 2;

  display: block;

  color: #ffffff;
  text-align: center;
}

.catalog-item img {

  width: 267px;
  height: 267px;
  margin-bottom: 14px;

  border-radius: 50%;
}

.catalog-item h3 {
  display: inline;
  margin: 0;
  font: inherit;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.catalog-item-price {
  position: absolute;
  z-index: 2;

  bottom: 67px;
}

.catalog-item-price b {
  font-size: 45px;
  line-height: 45px;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

.catalog-item::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -13px;
  z-index: 1;

  width: 293px;
  height: 405px;

  border-radius: 5px;
}

.catalog-item .button {
  position: absolute;
  bottom: -55px;
  left: 33px;

  display: none;
  padding: 11px 18px;
}

.catalog-item:hover::after,
.catalog-item:focus::after  {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item a:hover,
.catalog-item a:active {
  color: #ffbc9e;
}

.catalog-item a:hover h3,
.catalog-item a:active h3 {
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item:hover .button,
.catalog-item:focus .button {
  display: block;
  z-index: 3;
}

.catalog-item:hover,
.catalog-item:focus {
  z-index: 3;
}

/*Стилизация всплывающего окна корзины*/

.cart {
  position: relative;
}

.cart-info {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;

  display: none;
  width: 541px;
  padding: 20px 15px;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
}

.cart:hover .cart-info {
  display: block;
}

.cart-list {
  padding: 0;

  list-style: none;
  border-bottom: 1px solid #cacac7;
}

.cart-list li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-close {
width: 11px;
height: 11px;

background-image: url("../img/x-small.svg");
background-color: transparent;
background-repeat: no-repeat;
border: 0;
}

.cart-list img {
  margin: 0 14px;
}

.product-title {
  width: 216px;
  margin-right: 32px;
}

.product-price {
  margin-right: 30px;

  color: #999999;
}

.product-weight {
  margin-right: 4px;
}

.cart-order {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cart-total-price {
  margin: 17px 0;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}
